<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 1. v-model实现表单元素与数据的双向绑定 -->
        <!-- 因为input中的v-model绑定了message，所以将实时的输入内容传递给message，从而改变message的值 -->
        <!-- 当message值发生改变时，因为使用了Mustache语法，将message的值插入到DOM中，所以DOM会发生响应式改变 -->
        <!-- 例子中的两个message相互影响，当改变其中一个的值时，另外一个同步更改 -->
        <input type="text" v-model="message">
        {{message}}
        <!-- 2. v-model的原理如下，通过值绑定(:value)将message绑定到input中；通过监听input内容(@input)，同步更改message -->
        <input type="text" :value="message" @input="valueChange">
        <!-- <input type="text" :value="message" @input="message = $event.target.value"> -->
        
        <br>
        <!-- 3. v-model在textarea中的应用 -->
        <textarea name="ceshi" id="ceshi" v-model="message1"></textarea>
        <h3>{{message1}}</h3>

        <br>
        <!-- 4. v-model的修饰符 -->
        <!-- (1) lazy---可让数据在失去焦点或按下回车键时更新 -->
        <input type="text" v-model.lazy="message2">
        <h3>{{message2}}</h3>

        <br>
        <!-- (2) number---默认情况下输入框内容均被处理为字符串类型，该修饰符可将输入内容自动转为数字类型 -->
        <input type="text" v-model.number="message3">
        <h3>number的使用---{{message3}}---{{typeof message3}}</h3>

        <br>
        <!-- (3) trim---可以过滤内容左右两边的空格 -->
        <!-- <input type="text" v-model="message4"> -->
        <input type="text" v-model.trim="message4">
        <h3>trim的使用---输入内容：{{message4}}</h3>
    </div>
    <script src = "../vue/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: 'v-model的使用',
                message1: 'v-model在textarea中的应用',
                message2: 'v-model的修饰符lazy',
                message3: 123,
                message4: '',
            },
            methods: {
                valueChange(event) {
                    this.message = event.target.value
                }
            }
        })
    </script>
</body>
</html>